<!DOCTYPE html>
<html lang="en">
  <%- include('../../header', { title: 'Express with EJS' }) %>
  <link
    rel="stylesheet"
    href="https://malikfarhan.com/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css"
  />
  <link
    rel="stylesheet"
    href="https://malikfarhan.com/plugins/datatables-responsive/css/responsive.bootstrap4.min.css"
  />

  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <%- include('../../navbar') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->

        <%- include('../../sidebar') %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <table
                          id="tb1"
                          class="table table-bordered table-striped dataTable dtr-inline"
                          role="grid"
                          aria-describedby="tb1_info"
                        >
                          <thead>
                            <tr role="row">
                              <th
                                class="sorting_asc"
                                tabindex="0"
                                aria-controls="tb1"
                                rowspan="1"
                                colspan="1"
                                aria-label="#: activate to sort column descending"
                                aria-sort="ascending"
                              >
                                #
                              </th>
                              <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="tb1"
                                rowspan="1"
                                colspan="1"
                                aria-label="Date &amp;amp; Time: activate to sort column ascending"
                              >
                                Date &amp; Time
                              </th>
                              <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="tb1"
                                rowspan="1"
                                colspan="1"
                                aria-label="Name: activate to sort column ascending"
                              >
                                Name
                              </th>
                              <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="tb1"
                                rowspan="1"
                                colspan="1"
                                aria-label="Email: activate to sort column ascending"
                              >
                                Email
                              </th>
                              <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="tb1"
                                rowspan="1"
                                colspan="1"
                                aria-label="Phone: activate to sort column ascending"
                              >
                                Phone
                              </th>
                              <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="tb1"
                                rowspan="1"
                                colspan="1"
                                aria-label="Message: activate to sort column ascending"
                              >
                                Message
                              </th>
                              <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="tb1"
                                rowspan="1"
                                colspan="1"
                                aria-label="Action: activate to sort column ascending"
                              >
                                Action
                              </th>
                              <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="tb1"
                                rowspan="1"
                                colspan="1"
                                aria-label="Select: activate to sort column ascending"
                              >
                                Select
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td tabindex="0" class="sorting_1">1</td>
                              <td>Jul 15, 2022 10:48:56</td>
                              <td>Test from Agentroof</td>
                              <td>testagentroof007@gmail.com</td>
                              <td>+1 (289) 625-9449</td>
                              <td></td>
                              <td>
                                <form
                                  action="https://malikfarhan.com/admin/enquiry/1"
                                  method="POST"
                                  id="delete-form-1"
                                >
                                  <input
                                    type="hidden"
                                    name="_token"
                                    value="s2xkDRF2aFvYtroHhqFpXr1BVJtxkDItuFDNjU1V"
                                  />
                                  <input
                                    type="hidden"
                                    name="_method"
                                    value="DELETE"
                                  />
                                  <a href="#" onclick="return confirmation(1);"
                                    ><i class="fa fa-trash"></i
                                  ></a>
                                </form>
                              </td>
                              <td>
                                <input
                                  type="checkbox"
                                  id="bulk_chk"
                                  name="ids[]"
                                  value="1"
                                />
                              </td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th rowspan="1" colspan="1">#</th>
                              <th rowspan="1" colspan="1">Date &amp; Time</th>
                              <th rowspan="1" colspan="1">Name</th>
                              <th rowspan="1" colspan="1">Email</th>
                              <th rowspan="1" colspan="1">Phone</th>
                              <th rowspan="1" colspan="1">Message</th>
                              <th rowspan="1" colspan="1">Action</th>
                              <th rowspan="1" colspan="1">Select</th>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include('../../footer') %>
        </div>
      </div>
    </div>
    <%- include('../../foot') %>
    <script src="https://malikfarhan.com/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="https://malikfarhan.com/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://malikfarhan.com/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="https://malikfarhan.com/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <script>
      $(function () {
        var t = $("#tb1").DataTable({
          responsive: true,
          autoWidth: false,
          stateSave: true,
        });
        t.on("order.dt search.dt", function () {
          t.column(0, { search: "applied", order: "applied" })
            .nodes()
            .each(function (cell, i) {
              cell.innerHTML = i + 1;
            });
        }).draw();
      });
    </script>

    <script>
      function confirmation(i) {
        if (confirm("are you sure?")) {
          let form_name = "delete-form-" + i;
          document.getElementById(form_name).submit();
        } else {
          return false;
        }
      }
    </script>
  </body>
</html>
