<!DOCTYPE html>
<html lang="en">
<%- include('../../header', { title: 'Express with EJS' }) %>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://malikfarhan.com/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
    <link rel="stylesheet" href="https://malikfarhan.com/plugins/summernote/summernote-bs4.css" />

    <body>
        <div class="container-scroller">
            <!-- partial:partials/_navbar.html -->
            <%- include('../../navbar') %>
                <!-- partial -->
                <div class="container-fluid page-body-wrapper">
                    <!-- partial:partials/_settings-panel.html -->

                    <%- include('../../sidebar') %>
                        <!-- partial -->
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="row">
                                    <div class="col-md-12 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body">
                                                <p class="card-title">Add New Blog</p>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="name" class="control-label"> Name</label>
                                                            <input type="text" id="name" name="name" required="required"
                                                                value="" class="form-control" />
                                                            <div id="title-count"></div>
                                                        </div>
                                                    </div>

                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="designation">Designation</label>
                                                            <input type="text" id="designation" name="designation"
                                                                value="" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="description" class="control-label">Content
                                                                <small>(Do not capitalise entire
                                                                    sentence)</small></label>
                                                            <textarea id="about_us" name="about_us" required="required"
                                                                class="form-control textarea"
                                                                style="display: none"></textarea>
                                                            <div id="des-count"></div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <div class="d-flex justify-content-between">
                                                                <button type="submit" class="btn btn-primary">
                                                                    Add testimonial
                                                                </button>
                                                                <a href="/testimonial" class="btn btn-danger">Cancel</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%- include('../../footer') %>
                        </div>
                </div>
        </div>
        <%- include('../../foot') %>
            <script src="https://malikfarhan.com/plugins/summernote/summernote-bs4.min.js"></script>
            <script>
                $(function () {
                    // Summernote
                    $(".textarea").summernote({
                        height: 300,
                    });
                });
            </script>

            <script>
                $(function () {
                    // Summernote
                    $(".textarea").summernote({
                        height: 300,
                    });
                });
                $("#meta_title").keydown(function () {
                    var count = this.value.length;
                    $("#meta-count").html("(" + count + "/" + "60" + ")");
                });
                $("#description").keydown(function () {
                    var count = this.value.length;
                    $("#des-count").html("(" + count + "/" + "160" + ")");
                });
                $("#title").keydown(function () {
                    var count = this.value.length;

                    $("#title-count").html("(" + count + "/" + "60" + ")");
                });
            </script>
    </body>

</html>