<!DOCTYPE html>
<html lang="en">
<%- include('../../header', { title: 'Express with EJS' }) %>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://malikfarhan.com/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
    <link rel="stylesheet" href="https://malikfarhan.com/plugins/summernote/summernote-bs4.css" />

    <body>
        <div class="container-scroller">
            <!-- partial:partials/_navbar.html -->
            <%- include('../../navbar') %>
                <!-- partial -->
                <div class="container-fluid page-body-wrapper">
                    <!-- partial:partials/_settings-panel.html -->

                    <%- include('../../sidebar') %>
                        <!-- partial -->
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="row">
                                    <div class="col-md-12 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body">
                                                <p class="card-title">Add New Blog</p>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="title" class="control-label">Title</label>
                                                            <input type="text" id="title" name="title"
                                                                required="required" value="" maxlength="60"
                                                                class="form-control" />
                                                            <div id="title-count">(0/60)</div>
                                                        </div>
                                                    </div>

                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="show_in" class="control-label">Show in</label>
                                                            <select id="show_in" name="show_in" required="required"
                                                                value="" class="form-control">
                                                                <option value="">--select--</option>
                                                                <option value="Blogs">Blogs</option>
                                                                <option value="Seller's Guide">
                                                                    Seller's Guide
                                                                </option>
                                                                <option value="Buyer's Guide">Buyer's Guide</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="cover_photo">Cover Photo
                                                                <small>(Not less than 1194X505 px)</small></label>
                                                            <div class="input-group">
                                                                <div class="custom-file">
                                                                    <input type="file" id="cover_photo"
                                                                        name="cover_photo" value=""
                                                                        class="custom-file-input" />
                                                                    <label for="cover_photo"
                                                                        class="custom-file-label">Choose file</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="meta_title" class="control-label">Meta
                                                                Title</label>
                                                            <input type="text" id="meta_title" name="meta_title"
                                                                required="required" value="" maxlength="60"
                                                                class="form-control" />
                                                            <div id="meta-count"></div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="keywords" class="control-label">Meta Keywords
                                                                <small>(Do not capitalise entire
                                                                    sentence)</small></label>
                                                            <textarea id="keywords" name="keywords"
                                                                class="form-control"></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="description" class="control-label">Meta
                                                                Description
                                                                <small>(Do not capitalise entire
                                                                    sentence)</small></label>
                                                            <textarea id="description" name="description"
                                                                maxlength="160" class="form-control"></textarea>
                                                            <div id="des-count"></div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="description" class="control-label">Content
                                                                <small>(Do not capitalise entire
                                                                    sentence)</small></label>
                                                            <textarea id="about_us" name="about_us" required="required"
                                                                class="form-control textarea"
                                                                style="display: none"></textarea>
                                                            <div id="des-count"></div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <div class="d-flex justify-content-between">
                                                                <button type="submit" class="btn btn-primary">
                                                                    Add Blog
                                                                </button>
                                                                <a href="/blog" class="btn btn-danger">Cancel</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%- include('../../footer') %>
                        </div>
                </div>
        </div>
        <%- include('../../foot') %>
            <script src="https://malikfarhan.com/plugins/summernote/summernote-bs4.min.js"></script>
            <script>
                $(function () {
                    // Summernote
                    $(".textarea").summernote({
                        height: 300,
                    });
                });
            </script>

            <script>
                $(function () {
                    // Summernote
                    $(".textarea").summernote({
                        height: 300,
                    });
                });
                $("#meta_title").keydown(function () {
                    var count = this.value.length;
                    $("#meta-count").html("(" + count + "/" + "60" + ")");
                });
                $("#description").keydown(function () {
                    var count = this.value.length;
                    $("#des-count").html("(" + count + "/" + "160" + ")");
                });
                $("#title").keydown(function () {
                    var count = this.value.length;

                    $("#title-count").html("(" + count + "/" + "60" + ")");
                });
            </script>
    </body>

</html>